@media  (max-width: 767px){
label{
    font-size: large;
    font-family: 'Noto Sans JP', sans-serif;
}

input{
    margin-top: 20px;

    font-family: 'Noto Sans JP', sans-serif;
}
button{
    width: 50%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Krona One', sans-serif;
    
}

div img{
    text-align: center;
    justify-self: center;
    align-self: center;
    height: 300px;
    width: 200px;
    margin-top: 15px;
}

div a{
    text-decoration: none;
        height: 50px;
        line-height: 50px;
        align-self: center;
        width: 150px;
        border: 4px groove white;
        font-size: large;
        font-family: 'Noto Sans JP', sans-serif;             
}
div h2{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}
div h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}
div p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Noto Sans JP', sans-serif;

}

div{
    margin-top: 10px;
}


}